.prices {
  >div{
    display: flex;
    flex-direction: column;
  }
  .prices-business{
    .page-header{
      background-color: #546E7A;
    }
  }
  .prices-weddings{
    .page-header{
      background-color: #D81B60;
    }
  }
  .prices-prints{
    .page-header{
      background-color: #3949AB;
    }
  }
  .prices-portraits{
    .page-header{
      background-color: #FB8C00;
    }
  }
}

@media (min-width: 80.0rem) {
  .prices {
    .page-header{
    }
  }
}
