@import './../sass/vars';

.home {
  .header{
    h1{
      color: $gray-50;
      text-shadow: 1px 1px 5px $gray-700;
      font-size: 5.55rem;
    }
    background-image: url('./../assets/images/home.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
