@import './../vars';

.about {
  .header{
    background-image: url('./../assets/images/about-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .exhibitions {
    img {
      display: block;
      width: 100%;
    }
    .exhibition {
      padding: 2rem;
      margin-bottom: 2rem;
      background-color: $teal-700;
      h3 {
        font-size: 2.45rem;
        margin-bottom: 1rem;
        em {
          display: block;
          font-size: 1.5rem;
        }
      }
      p {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (min-width: 80.0rem) {
  .about {
    .header{
      background-image: url('./../assets/images/about.jpg');
    }
  }
}
