@import './../vars';

.prices {
  .header{
    background-image: url('./../assets/images/prices-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul {
    border:1px solid $cyan-800;
    border-radius: 3px;
    list-style:none;
    color: $gray-700;
    background: $gray-50;
    padding: 2rem 0;
    li {
      margin:0 2rem;
      padding: 1rem 0 1rem 3rem;
      background-image: url('./../assets/images/select_green.png');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 2rem;
      &.price-list-header{
        text-align: center;
        font-weight: bold;
        background-image: none;
        margin:0;
        padding:1rem 0;
        color: $cyan-800;
        h3 {
          margin:0;
          color: $cyan-800;
        }
      }
    }
  }
}

@media (min-width: 80.0rem) {
  .prices {
    .header{
      background-image: url('./../assets/images/prices.jpg');
    }
  }
}
