@import './../vars';

.prices {
  .header{
    background-image: url('./../assets/images/prices-mobile.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  ul {
    border:1px solid $teal-700;
    border-radius: 3px;
    list-style:none;
    color: $gray-700;
    background: $bluegray-50;
    li {
      margin:0;
      padding: 0.75rem 1rem;
      &.price-list-header{
        text-align: center;
        font-weight: bold;
        color: $teal-700;
        h3 {
          color: $teal-700;
        }
      }
    }
  }
}

@media (min-width: 80.0rem) {
  .prices {
    .header{
      background-image: url('./../assets/images/prices.jpg');
    }
  }
}
