@import './../../sass/vars';

body {
  color: $gray-900;
  background-color: $gray-100;
  h1,h2,h3,h4,h5,h6 {
    color: $bluegray-700;
  }
  a {
    color: $blue-800;
  }
}

.main {
  padding: 5rem 0 0 0;
  background-color: $gray-50;
  overflow:hidden;
  .section {
    padding: 3rem 0;
    background-color: $blue-50;
    &.header{
      padding: 6rem 0;
      background-color: $gray-50;
      text-align: center;
      h1, h2 {
        margin: 0;
      }
      em {
        display: block;
        text-align: center;
        font-size: 2.25rem;
      }
    }
    &:nth-child(even) {
      background-color: $bluegray-50;
      background: linear-gradient(135deg, $bluegray-50 0%,$bluegray-100 100%);
    }
  }
  .fade-appear,
  .fade-enter {
    opacity: 0;
    transform: translateX(-100%);
  }

  .fade-appear-active,
  .fade-enter-active {
    transition: opacity .3s linear,
      transform .3s linear;
    opacity: 1;
    transform: translateX(0);
  }

  .fade-exit {
    transition: opacity .2s linear,
      transform .2s linear;
    opacity: 1;
    transform: translateX(0);
  }

  .fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
  }
}

@media (min-width: 40.0rem) {
  .main {
    .section {
      padding: 9rem 0;
      &.header{
        padding: 12rem 0;
      }
    }
  }
}

@media (min-width: 80.0rem) {

}
