@import './../../vars';

#nav {
  .nav-button {
    position: absolute;
    top: 0;
    right: 0;
    padding:15px;
    .burger{
      width: 36px;
      // height:24px;
      .bar{
        background-color: $gray-50;
        display: block;
        height: 3px;
        margin-bottom: 5px;
        border-radius: 3px;
      }
      .bar:last-child{
        margin:0;
      }
    }
  }

  #nav-shadow {
    display:block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: $gray-900;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity .3s ease-in-out,
      transform 0.1s ease-in 0.3s;
    &.show {
      transform: translateX(0);
      transition: opacity .3s ease-in-out,
        transform 0.1s ease-in 0s;
      opacity: .5;
    }
  }

  #nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width:75%;
    background-color: $white;
    list-style: none;
    overflow-x: hidden;
    border-right: none;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    &.slideIn {
      transform: translateX(0);
    }
    &.slideOut {
      transform: translateX(-100%);
    }
    li {
      margin: 0;
      &:last-child {
        border-bottom:none;
      }
      a {
        display: block;
        padding: 1.25rem 0;
        text-decoration: none;
        color: $gray-700;
        font-weight: 500;
        &.active {
          color: $cyan-800;
          background-color: $gray-200;
        }
        i.fa {
          text-align: center;
          width:5rem;
        }
      }
      ul {
        list-style: none;
        margin:0 0 0 2rem;
        font-size: 100%;
      }
    }
    h2 {
      padding: 2rem;
      font-size: 2rem;
      text-align: center;
      margin: 0;
    }
  }

}

@media (min-width: 40.0rem) {
  #nav {
    .nav-button{
      top: 12px;
      right:6px;
    }
    #nav-menu {
      width:50%;
    }
  }
}

@media (min-width: 80.0rem) {
  #nav {
    .nav-button{
      top: 12px;
      right:6px;
    }
    #nav-menu {
      width:25%;
    }
  }
}
