@import './../vars';

#footer {
  position: fixed;
  bottom: 0;
  width:100%;
  background: $gray-900;
  background: -moz-linear-gradient(-25deg, rgba(59,89,152,1) 33.33%, rgba(209,8,105,1) 33.34%, rgba(209,8,105,1) 66.66%, rgba(54,70,93,1) 66.67%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-25deg, rgba(59,89,152,1) 33.33%, rgba(209,8,105,1) 33.34%, rgba(209,8,105,1) 66.66%, rgba(54,70,93,1) 66.67%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(115deg, rgba(59,89,152,1) 33.33%, rgba(209,8,105,1) 33.34%, rgba(209,8,105,1) 66.66%, rgba(54,70,93,1) 66.67%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: $white;
  padding: 2rem 0;
  text-align: center;
  .container{
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  .social {
    width:100%;
    margin: 0;
    flex-direction: row;
    a {
      color: #fff;
    }
    i.fa {
      font-size: 3rem;
      color: $gray-200;
    }
  }
}
