//Skeletor
$dark: #020A2E;
$medium: #00183E;
$light: #6994F0;
$purple: #45488B;
$yellow: #F2EA7E;
body {
  color: $dark;
  background-color: $dark;
  h1,h2,h3,h4,h5,h6{
    color: $purple;
  }
  #footer {
    color: #F2EA7E;
    .container {
      padding: 4rem 2rem;
    }
  }
}
