#header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: #45488B;
  padding: 1rem 0;
  z-index: 1;
  h1 {
    display: inline;
    margin: 0 10rem 0 0;
    font-size: 2.5rem;
    a {
      color:#F2EA7E;
    }
  }
  button {
    position: fixed;
    top: 1rem;
    right: 1rem;
    border:none;
    background-color: transparent;
    margin:0;
    padding: 0.5rem 0.25rem;
    height: 3rem;
    width: 4rem;
    .menu-bar{
      background-color: #F2EA7E;
      display: block;
      height: 0.2rem;
      margin-bottom: 0.5rem;
      border-radius: 0.1rem;
    }
  }
}

@media (min-width: 80.0rem) {
  #header {
    button {
      display: none;
    }
  }
}
