#main {
  padding-top: 5rem;
  animation: mainfadein .5s;
  .section {
    background-color: #fff;
    &:nth-child(even) {
      background-color: #ddd;
    }
    .container {
      padding: 5rem 2rem;
    }
  }
}

@keyframes mainfadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes mainslide {
  from {
    width:0;
  }
  to {
    width:100%;
  }
}
